[Unit]
Description=promtail Container

[Install]
WantedBy=multi-user.target

[Service]
DynamicUser=yes
User=65522
PrivateNetwork=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
KillSignal=SIGTERM
Restart=always
RestartSec=5s
LimitNOFILE=16384
ExecStartPre=-/usr/bin/mkdir -p /srv/logs
ExecStartPre=-/usr/bin/touch /srv/logs/positions.yaml
ExecStartPre=-/usr/bin/chown 65522 /srv/logs/positions.yaml
ExecStartPre=-/usr/bin/podman stop promtail
ExecStartPre=-/usr/bin/podman rm promtail
ExecStop=/usr/bin/podman stop promtail
ExecStart=!/usr/bin/podman run -u 65522 --security-opt apparmor=unconfined --name promtail -v /srv/logs:/host --network host --rm --ulimit nofile=4192:8192 __IMAGE__
