[Unit]
Description=ZeroTier container

[Install]
WantedBy=multi-user.target

[Service]
PrivateNetwork=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
KillSignal=SIGTERM
SendSIGKILL=true
Restart=always
RestartSec=5s
TimeoutStopSpec=10s
ExecStartPre=-/usr/bin/podman stop zerotier-controller
ExecStartPre=-/usr/bin/podman rm zerotier-controller
ExecStart=/usr/bin/podman run --rm --security-opt apparmor=unconfined --net host --name zerotier-controller -v /srv/zerotier-controller:/var/lib/zerotier-one __IMAGE__
ExecStopPost=-/usr/bin/podman stop zerotier-controller
ExecStopPost=-/usr/bin/podman rm zerotier-controller
